body {
    font-family: Arial, sans-serif;
    background-color: black;
    background-image:url('Background.jpg'); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Front page styling */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); /* Adjust based on header and footer height */
}
header, footer {
    color: #fff; /* Set font color to white */
    padding: 5px;
    text-align: center;
}
.options {
    display: flex;
}

.option-link {
    text-decoration: none;
}

.option {
    background-color: #0a46e9;
    color: #0b0e0b;
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
    text-align: center;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effect */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0); /* Initial box shadow */
}

.option:hover {
    background-color: #020d0f; /* Darker background color on hover */
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5); /* Glow effect on hover */
    color:#24db2d;
}

.option h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.option p {
    font-size: 16px;
}
